:root {
  --white: #ffffff;
  --white100: #F0F5FF;
  --blue900: #0047CE33;
  --blue800: #538CFC29;
  --blue700: #7669EB4D;
  --blue600: #545F7E;
  --blue500: #7683A8;
  --blue400: #716EEA;
  --blue300: #766DE8;
  --blue200: #387DFF;
  --blue100: #5690FF;
  --blue: #C4D8FF;
  --pink: #FF4C75;
  --gray: #252D49;
  --gray100: #363F5A
}